.background {
  background-color: rgb(242, 189, 133);
}
.formContainer {
  margin: 0 auto;
  border: 1px solid #0c0c0c;
  background-color: white;
  width: 80%;
  max-width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  box-shadow: 6px 6px 10px 0px rgba(83, 84, 85, 0.4);
}
.uiForm {
  display: block;
  padding: 36px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.uiForm > h2 {
  margin-bottom: 16px;
}
.userName {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0c0c0c;
  color: rgba(17, 17, 17, 0.821);
  border-radius: 4px;
}
.mailAddress {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0c0c0c;
  color: rgba(17, 17, 17, 0.821);
  border-radius: 4px;
}

.password {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0c0c0c;
  color: rgba(17, 17, 17, 0.821);
  border-radius: 4px;
}

.formField input {
  background-color: aliceblue;
  border: 1px so lid rgb(127, 127, 131);
  padding: 20px;
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

.signin {
  background: #f3b525d5;
  width: 50%;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: rgb(29, 23, 2);
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.signin:hover {
  background-color: #f0d068e8;
}

.signup {
  display: inline-block;
  font-size: 13px;
  color: rgba(170, 119, 8, 0.74);
  padding: 20px 0px;
}
