.header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #53a08c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerInner {
  max-width: 1500px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.appName {
  font-size: 32px;
  font-weight: 800;
  color: #07523b96;
  margin-left: 0px;
}
.headerLogo {
  flex: none;
  width: auto;
  height: 35px;
}
.headerNavgroup {
  margin-left: auto;
  display: flex;
  flex: none;
}
.headerNavgroup > * + * {
  margin-left: 60px;
}
.headerNavitem {
  font-size: 16px;
  color: #fff;
}

.button {
  background: #53a08c;
  border: none;
  border-radius: 5px;
  color: rgb(79, 66, 22);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background-color: #9cc5b1d5;
}
