.flex {
  display: flex;
  max-width: 1600px;
  margin: 40px auto;
  margin-top: 110px;
  margin-bottom: 90px;
  justify-content: center;
}

.heading {
  color: rgba(115, 112, 80, 0.896);
  font-size: 2rem;
  text-align: left;
  margin-bottom: 40px;
}

.imgBox {
  width: 20%;
  height: 300px;
  background-color: rgba(251, 251, 247, 0.965);
  margin-top: 130px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #0c0c0c;
  border-radius: 4px;
  text-align: center;
  position: relative;
}

.recipeImg {
  color: rgba(116, 117, 117, 0.674);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.recipe {
  width: 50%;
  padding: 40px 5% 0 5%;
}

.label {
  color: #d4af36f5;
  border-bottom: solid 1px #746969;
  font-size: 1.25rem;
  padding-bottom: 5px;
  margin: 10px 0 15px 0;
}

/* レシピタイトル 入力欄 */
.recipeTitleInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: rgba(251, 251, 247, 0.965);
  border: 1px solid #0c0c0c;
  color: rgba(17, 17, 17, 0.821);
  border-radius: 4px;
}

/* 材料 入力欄 */
.ingredientInput {
  width: 100%;
  height: 160px;
  padding: 16px;
  margin-bottom: 10px;
  background-color: rgba(251, 251, 247, 0.965);
  border: 1px solid #0c0c0c;
  color: rgba(17, 17, 17, 0.821);
  border-radius: 4px;
}

/* 作り方 入力欄 */
.contentInput {
  width: 100%;
  height: 160px;
  padding: 16px;
  margin-bottom: 10px;
  background-color: rgba(251, 251, 247, 0.965);
  border: 1px solid #0c0c0c;
  color: rgba(17, 17, 17, 0.821);
  border-radius: 4px;
}

.createButton{
  background: #ea8820d5;
  width: 30%;
  margin-top: 20px;
  margin-right: 100px;
  border: none;
  border-radius: 5px;
  color: rgb(29, 23, 2);
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.createButton:hover {
  background-color: #dcb67de8;
}

@media screen and (max-width: 834px) {
  .flex {
    flex-direction: column;
  }
  .imgBox {
    width: 100%;
  }
  .recipeImg {
    height: auto;
  }
  .recipe {
    width: 100%;
  }
}
