.header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #e2a728;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerInner {
  max-width: 1500px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.appName {
  font-size: 30px;
  font-weight: 800;
  color: #604904;
  margin-left: 0px;
}
.headerLogo {
  flex: none;
  width: auto;
  height: 35px;
}
.headerNavgroup {
  margin-left: auto;
  display: flex;
  flex: none;
}
.headerNavgroup > * + * {
  margin-left: 60px;
}
.headerNavitem {
  font-size: 16px;
  color: #fff;
}
.section {
  max-width: 1500px;
  margin: 40px auto;
  margin-top: 120px;
  padding: 1rem;
}
.heading {
  color: rgba(179, 168, 74, 0.896);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
}
.cardArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.cardItem {
  height: 28vh;
  flex-direction: column;
  flex-basis: 18%;
  word-wrap: break-word;
  background-color: #f1efe469;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  text-decoration: none;
  overflow: hidden;
  grid-template-columns: 1fr;
  transition: transform 0.3s ease-in-out;
}
.cardItem:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.imgBox {
  overflow: hidden;
}
.cardItemImg {
  width: 100%;
  height: 190px;
  object-fit: cover;
}
.cardItems {
  padding: 1rem;
}
.cardItemTtl {
  color: #2d2d2d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 18px;
  text-align: center;
  line-height: 1;
}
