.background{
  background-color: rgb(242, 189, 133);
}
.formContainer {
  height: 50vh;
  margin: 0 auto;
  border: 1px solid #0c0c0c;
  background-color: white;
  width: 80%;
  max-width: 400px;
  padding: 0px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 10px;
  box-shadow: 6px 6px 10px 0px rgba(83, 84, 85, 0.4);
}
.uiForm{
  display: block;
  margin: 50px auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}
.userName {
  width: 95%;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 30px;
  border: 1px solid #0c0c0c;
  color: rgba(116, 117, 117, 0.674);
  border-radius: 4px;
}

.password {
  width: 95%;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #0c0c0c;
  color: rgba(116, 117, 117, 0.674);
  border-radius: 4px;
}
.caution{
  font-size: 12px;
  color: rgba(0, 3, 5, 0.74);
  margin-top: 0px;
  padding: 5px 0px;

}
.formField input {
  background-color: aliceblue;
    border: 1px so lid rgb(127, 127, 131);
    padding: 20px;
    border-radius: 4px;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

.next {
  background:#f3b525d5;
  width: 50%;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  color: rgb(29, 23, 2);
  padding: 15px 0px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.next:hover {
  background-color: #f0d068e8;
}
